<h2>Departments</h2>
<hr/>
<form class="form-inline" #depForm="ngForm" (submit)="submit(depForm)" >
    <div class="form-group mx-sm-3 mb-2">
        <label for="name" class="sr-only">Department Name</label>
        <input type="text" class="form-control" id="name" placeholder="Department Name" required [(ngModel)]="name" name="name" >
        <!-- <span style="color:red" *ngIf="depForm.name.required">Name is required</span> -->
    </div>
    <button type="submit" [disabled]="depForm.invalid" class="btn btn-primary mb-2">Create</button>
</form>
<hr/>
<ul class="list-group">
    <li *ngFor="let dep of departments" class="list-group-item d-flex justify-content-between align-items-center">
     {{ dep.name }}
      <span class="badge badge-primary badge-pill">14</span>
    </li>
  </ul>